/* 
developers account on daraja;
    developer.safaricom.co.ke
        -consumer key 
        -secrete key 
        -pass key.  

*/
consumer key = "0Bi55WfdjjRQOplWPCYFung4gGWzn6st"
pass key = "";
consumer secret = "kLfcARAWYCBK5R8U";

post = "https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest";

request body={    
   "BusinessShortCode":"174379",    
   "Password": "MTc0Mzc5YmZiMjc5ZjlhYTliZGJjZjE1OGU5N2RkNzFhNDY3Y2QyZTBjODkzMDU5YjEwZjc4ZTZiNzJhZGExZWQyYzkxOTIwMTYwMjE2MTY1NjI3",    
 "Timestamp":"20160216165627",    
 "TransactionType": "CustomerPayBillOnline",    
   "Amount":"1",    
  "PartyA":"254708374149",    
   "PartyB":"174379",    
 "PhoneNumber":"254708374149",    
 "CallBackURL":"https://mydomain.com/pat",    
 "AccountReference":"Test",    
 "TransactionDesc":"Test"
}